Discord Bots/bot.ini
Discord Bots/word_data_collegiate.json
Machine Learning/dots/Dot.py
Bots/Twitter Cat Poster/data.py
Bots/Twitter Dog Poster/data.py
Bots/Twitter Meme Poster/data.py
Machine Learning/neural-network/mnist_train.csv
Django Learning/venv/
Django Learning/testsite/testsite/settings.py
